  <div class="product-list container">
      <table class="table table-hover">
        <thead>
        <tr class="table-light">
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let product of productsList ; index as i">
          <td>{{i+1}}</td>
          <td>
              <img [src]="product.thumbImg" class="mr-2" style="width: 80px">
            </td>
            <td>
              {{ product.title }}
            </td>
            <td>{{product.detail}}</td>
            <td [ngClass]="{
              'bg-success':product.quantity > 10,
              'bg-danger':product.quantity < 5,
              'bg-warning':product.quantity <= 10 && product.quantity >= 5
            }">
            {{product.quantity}}</td>
            <td>
              <button 
              class="btn btn-outline-dark"
              (click)="onClick(product)">Add Product</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
